/* import variable.css file */
@import "variable.css";

/*------------------------------- HEADER SECTION CSS ---------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------------------header css ------------------------------ */

header {
    font-family: var(--secondary-font-family);
    background-color: #333;
    color: #fff;
}

header .dropdown button,
header .dropdown button:hover,
header .dropdown button:active{
    background: none;
    background-color: none;
    border: none;
}
header .search-bar {
    width: 70%;
}

header .search-bar span {
    background-color: var(--bs-white);
    border-right: 0;
}

header .search-bar input {
    border-left: 0;
}

header .sign-up-btn button {
    background-color: var(--bs-orange);
    color: var(--bs-white);
}

header .sign-up-btn button:hover {
    background-color: rgb(248, 68, 100);

}

header .logo img {
    width: 40px;
}
/* ---------------------------navbar css ------------------------------------ */
.navbar {
    background-color: rgb(34, 37, 57);
}

.navbar .main .list {
    margin: 0;
    padding: 0;
}

.navbar .main .list li {
    display: inline;
    padding-right: 10px;
}

.navbar .main .list li a {
    text-decoration: none;
    color: var(--bs-white);
}

/*---------------------------- carousel section css -------------------*/
.main-content {
    width: 100%;
}

.main-content .owl-carousel .item {
    height: 450px;
    border-radius: 10px;
}

.main-content .owl-carousel .item img {
    border-radius: 8px;
}
.owl-theme .owl-dots{
    display: none;
}
.owl-theme .owl-nav .owl-prev{
    top: 50%;
    left: 2%;
    transform: translateY(-80%);    
    position: absolute;  
}
.owl-theme .owl-nav .owl-prev span,
.owl-theme .owl-nav .owl-next span{
    font-size: 2rem;
    color: var(--bs-white);
}
.owl-theme .owl-nav .owl-next{
    top: 50%;
    right: 2%;
    transform: translateY(-80%);
    position: absolute;  
}

/* ------------------------Listed movie section css-------------------------- */
.movies-list{
    width: 100%;
}
.product-box{
    width: 18%;
}

.product-box .card,
.card-data .card{
    border:none;    
}

.product-box .card .card-img-top{
    height: 300px;
}
.product-box .card .card-body .top,
.card-data .card .card-body .top{
    background-color: #000000;
    color: #fff;
    border-radius: 0 0 6px 6px;
}
.product-box .card .card-body i,
.card-data .card .card-body i{
    color: #e30f0fed;
    padding: 0 10px;
}

.card-data{
    padding: 50px;
}

.product-box .card .card-body .card-title{
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom:5px;
}
/* ------------------------- Sign up form Modal css ------------------------ */

.modal .modal-dialog .modal-content .modal-body form .form-floating{
 margin-bottom: 15px;
}
.modal .modal-dialog .modal-content .modal-body .body-top img{
    width: 50px;
}
.modal .modal-dialog .modal-content .modal-body form .form-floating input{
    border: 0 0 2px solid var(--bs-gray-400) 0;
    border-bottom: 2px solid var(--bs-gray-400);
    border-radius: 0;
}
.modal .modal-dialog .modal-content .modal-body form .form-floating input[type="password"]{
    letter-spacing: 0.4em;
}

/* ---------------------------logout button hidden -------------------- */
#here{
    display: none;
}

/* ---------------text overlay for book ticket button on cards -------------- */
.card{
        position: relative;
        width: 50%;
      
}
.image{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .card:hover .image {
    opacity: 0.3;
  }
  
  .card:hover .middle {
    opacity: 1;
  }
  .text {
    background-color: var(--bs-orange);
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
  }

  .movie-section{
    height: 450px;
    width: 100%;
    background-color: var(--bs-body-color);
  }

  .movie-play{
     top: -10px;
     z-index: 999;
  }